body {
	font: 12px/1.5 "Arial";
}

h1 {
	font-size: 14;
}

h2 {
	font-size: 12;
}

table {
	font-size: 12;
	border-width: 0px;
	border-style: solid;
}

th,td {
	border-width: 1;
	border-style: solid;
	padding: 3;
}

ul {
	list-style-image: none;
	list-style-type: none;
	padding-left: 0;
}